@import "fonts";
@import "reset_styles";
@import "header";
@import "footer";

body{
  font-family: CeraPro;
}

.container{
  //max-width: 1200px;
  min-width: 767px;
  margin: 0 auto;
  padding: 0px 15px;
}
.button > button:hover{
  background-color: #319647FF;
}
.column2{
  flex: 0 1 50%;
}


.welcome{
  margin: 0px 0px 45px 0px;
  &__row{
    display: flex;
    padding: 25px;
    position: relative;
    background-color: #F5F5F580;
  }
  &__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

  }
  &__pre-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__title{
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    span{
      color: #279827;
    }
  }
  &__about{
    font-size: 14px;
    line-height: 24px;
    color: #727272;
  }
  &__button>button{
    color: #fff;
    background-color: #46A358;
    padding: 10px 26px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
  }

  &__image{
    text-align: center;
    position: relative;
  }
  &__image >img{
    max-width: 100%;
  }
  &__image >img:last-child{}
}


.shop{

}

// Breakpoints
@media (max-width: 1200px){
  .container{
    max-width: 970px;
  }
}
@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
  .header{
    &__row{
      .shop-elements{
        max-width: 170px;
  }
    }
    .menu{
      max-width: 270px;
    }
  }
  .welcome__title{
    font-size: 50px;
    line-height: 52px;
  }
}
@media (max-width: 767px){
  .container{
    max-width: none;
  }
}
@media (max-width: 715px){
//TODO: add burger menu and modify img in welcome block
}

@media (min-width: 1200px) {
  .container{
    margin: 0 40px;
  }

}
