.header{
  &__row{
    padding: 25px 0 17px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.3px solid #46A35880;
    .logo{
      display: flex;
      &__img{
        margin: 0 6px 0 0;
      }
    }
    .menu{
      max-width: 350px;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 15px;
      /* TODO: В дальнейшем реализовать актив переход для линков */
      &__link{
        font-size: 16px;
        line-height: 20px;
        color: #3D3D3D;
        &:hover{
          font-weight: 500;
          cursor: pointer;
        }
        &:focus{
          color: #279827;
        }
      }
    }
    .shop-elements{
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      max-width: 210px;
      &__button > button {
        color: #fff;
        padding: 3px 17px 0 10px;
        background-color: #46A358;
        border-radius: 5px;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease;
        outline: none;
      }
      &__button > button::before{
        content: url('../images/Untitled.svg');
        vertical-align: middle;
        padding-right: 4px;
      }
      &__button > button:hover{
        opacity: 0.9;
        box-shadow: 0 2px 5px #9a9a9a;
      }
    }
  }
  .popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    &.visible{
      opacity: 1;
      visibility: visible;
    }
  }
  .popup{
    position: fixed;
    left: 0;
    top: 15%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all .5s ease;
    &.visible{
      opacity: 1;
      visibility: visible;
      padding: 50px 100px;
      transform: translateY(10px);
      transition: all .5s ease;
    }
    &__content{}
    &__header{
      position: relative;
      display: flex;
      justify-content: space-evenly;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      margin: 0 30px;
      &:hover div{
        cursor: pointer;
      }
      #sign-in {
        color: #3D3D3D;
        &.active{
          color: #46A358;
          background-color: transparent;
        }
      }
      .dividing-line{
        width: 1px;
        height: 12px;
        background-color: #000;
      }
      #register {
        color: #3D3D3D;
        &.active{
          color: #46A358;
          background-color: transparent;
        }
      }
    }
    &__forms{
      overflow: hidden;
      padding: 0;
      display: flex;
      margin: 40px 0 0 0;
      form{
        display: flex;
        flex-direction: column;
        &.sign-in{
          position: relative;
          transition: all .35s;
          opacity: 1;
          flex: 0 0 100%;
          &.move-left{
            opacity: 0;
            transform: translateX(-100%);
          }
        }
        &.register{
          position: relative;
          opacity: 0;
          flex: 0 0 100%;
          transition: all .35s;
          &.move-left{
            opacity: 1;
            transform: translateX(-100%);
          }
        }
        & input{
          padding: 12px 0 12px 14px;
          border: 1px solid #eaeaea;
          border-radius: 4px;
          &:focus{
            border-color: #46A358;
          }
        }
        & > *{
          margin: 7.5px 0;
          &:first-child{
            margin-top: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    #popup-close-button a {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    #popup-close-button a::before {
      content: '';
      position: absolute;
      right: 10px;
      width: 3px;
      height: 25px;
      background-color: #46A358;
      transform: rotate(45deg);
    }
    #popup-close-button a::after {
      content: '';
      position: absolute;
      right: 10px;
      width: 3px;
      height: 25px;
      background-color: #46A358;
      transform: rotate(-45deg);
    }
  }
  @media (min-width: 500px) {
    .popup {
      width: 500px;
      left: 50%;
      margin: 0 0 0 -250px;
    }
  }
}