{% load sass_tags %}
{% load static %}
<link rel="stylesheet" href="{% sass_src 'shop/css/base.scss' %}">

{% block shop %}
    <div class="shop">
        <div class="container">
            <div class="shop__row">
                <div class="shop__filters-and-promotion column2">
                    <div class="filters">
                        <div class="filters__categories">
                            <div class="filters__categories-name">
                                {% for categ in data.keys %}
                                    <p>{{ categ }}</p>
                                {% endfor %}
                            </div>
                            <div class="filters__categories-count" style="margin-left: 15px" >
                                {% for count in data.values %}
                                    <p>({{ count }})</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="filters__price-range">PRICE RANGE</div>
                        <div class="filters__size-filter">SIZE FILTER</div>
                    </div>
                    <div class="shop__super-promotion">SUPER PROMOTION</div>
                </div>
                <div class="shop__stall column2">
                    <div class="shorting-panel">
                        <div class="shorting-panel__state">
                            <div class="">All Plants</div>
                            <div class="">New Arrivals</div>
                            <div class="">Sale</div>
                        </div>
                        <div class="shorting-panel__fields">Short by:</div>
                    </div>
                    <p>PLants list</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
