{% load sass_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'greenshop/images/fav.png' %}">
    <link href="{% sass_src 'greenshop/css/base.scss' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}Home Greenshop{% endblock title %}</title>
</head>
<body>
{% include 'greenshop/header.html' %}
{% block header %}{% endblock %}
    <div class="welcome">
        <div class="container">
            <div class="welcome__row">
{#                TODO: Adaptive Height slick realized #}
                <div class="welcome__body column2">
                    <div class="welcome-title-wrapper">
                        <div class="welcome__pre-title">Welcome to GreenShop</div>
                        <div class="welcome__title">Let’s Make a Better <span>Planet</span></div>
                        <div class="welcome__about">We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</div>
                    </div>
                    <a class="welcome__button button" href="#!"><button>SHOP NOW</button></a>
                </div>
                <div class="welcome__image column2">
                    <img src="{% static 'greenshop/images/welcome-img.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% include 'shop/shop.html' %}
{% block shop %}{% endblock shop %}
</body>
</html>