{% load sass_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'greenshop/images/fav.png' %}">
    <link href="{% sass_src 'greenshop/css/base.scss' %}" rel="stylesheet" type="text/css" />
    <title>Home Greenshop</title>
</head>
<body>
{% include 'greenshop/header.html' %}
{% block header %}{% endblock %}
    <div class="welcome">

    </div>
</body>
</html>