{% load static %}
{% block header %}
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="logo">
                    <img class="logo__img" src="{% static 'greenshop/images/logo.svg' %}" alt="" >
                    <img class="logo__text" src="{% static 'greenshop/images/Group.svg' %}" alt="" >
                </div>
                <div class="menu">
                    <a href="#!" class="menu__link">Home</a>
                    <a href="#!" class="menu__link">Shop</a>
                    <a href="#!" class="menu__link">Plant Care</a>
                    <a href="#!" class="menu__link">Blogs</a>
                </div>
                <div class="shop-elements">
                    <img src="{% static 'greenshop/images/search.svg' %}" alt="search" class="shop-elements__search">
                    <img src="{% static 'greenshop/images/cart.svg' %}" alt="cart" class="shop-elements__cart">
                    <a href="#!" class="shop-elements__button button"><button>Login</button></a>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}